.jumbotron{
	background-color: transparent;
}

.sologan{
	font-size: 20px;
}

.introtext{
	margin-top: -10px;
	font-size: 14px;
}

h2{
	color: #FEAC5E;
}

.curved-div {
  position: relative;
  background: #C779D0;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}

.curved-div.upper {
  background: #fff;
}

.curved-div p {
  font-size: 1rem;
  margin:0 5rem 2rem 5rem;
}

.footer{
   	left: 0;
  	bottom: 0;
}