.card-text{
	margin-bottom: -20px;
}

.card-link{
	margin: 0;
   font-size: 13px;
   color: white;
   letter-spacing: 2px;
   opacity: 0;
   max-height:0;
   transition: all 0.3s ease;
}

.card:hover .card-link {
   padding-top: 30px;
   transition: all 0.3s ease;
   opacity: 1;
   max-height:10px;
   color: #C779D0;
}
