html{
    scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    padding: 8px 40px;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.btn:hover {
	color: white;
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15)
}

.btn:focus {
    outline: none;
}

.btn.gradient{	
    background-image: linear-gradient(to right, #FEAC5E, #C779D0, #4BC0C8);
}

.card{
    border-radius: 30px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.card:hover{
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.24);
}
